
name: nle 
backend: torch
device: cpu
params_train:
  training_batch_size: 1000
  learning_rate: 1e-3
  validation_fraction: 0.1
  stop_after_epochs: 20
  max_num_epochs: 2147483647
  clip_max_norm: 5.
params_build_posterior:
  sample_with: 'mcmc'
  mcmc_method: 'slice_np_vectorized'
  mcmc_parameters:
    num_chains: 100


defaults:
  - model: likelihood_nn
  - train: train_sbi
  - posterior: slice_multi_chain_sbi